.home-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.home-container img {
    height: 100vh;
}

.home-content {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.home-content-text h3 {
    font-weight: 900;
    margin-bottom: 10px;
}

.home-content-text p {
    margin-bottom: 10px;
}

.home-content-text button {
    font-size: 1rem;
    border: none;
    background-color: #066c6c;
    color: #ffffff;
    padding: 5px 40px;
}

.home-content-text button:hover {
    background-color: #000000;
}
